.about_img{
    height: 200px;
}

.about_container{
    grid-template-columns: 3fr 12fr;
    column-gap: 0.5rem;
}

.about_data{
    padding: 1.875rem;
    background-color:rgb(6, 18, 44);
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    grid-template-columns: repeat(2,1fr);
    column-gap: 1.875rem;
    align-items: flex-start;
    position: relative;
}


.about_description{
    margin-bottom: 1rem;
    text-align: justify;
}

.about_skill{
    row-gap: 1.25rem;
}

.skill_titles{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.skill_name{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.skill_number{
    line-height: 1.2;
}

.skill_bar, .skill_percentage{
    height: 7px;
    border-radius: 0.25rem;
}

.skill_bar{
    background-color: #f1cbf4;
}

.skill_percentage{
    display: block;
    background-color: #c58ec9;
}

.pg_language{
    width: 90%;
    background-color: #e6ff67;
}

.react{
    width: 85%;
    background-color: #f331c9;
}

.databse{
    width: 87%;
    background-color: #39d4ff;
}

.backend_dev{
    width: 87%;
    background-color: #b049ff;
}

.about_boxes{
    grid-template-columns: repeat(4,1fr);
    column-gap: 1.875rem;
    margin-top: 4.35rem;
}

.about_box{
    display: flex;
    column-gap: 0.5rem;
}

.about_icon{
    font-size: var(--h1-font-size);
}

.about_title{
    font-size: 1.875rem;
    font-weight: var(--font-medium);
}

@media screen and (max-width: 1024px){
    .about_container{
        grid-template-columns: 720px;
        justify-content: center;
        row-gap: 1.875rem;
    }

    .about_data::before{
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #fff;
        left: 49%;
        top: -20px;
    }

    .about_img{
        justify-self: center;
    }

    .about_box{
        flex-direction: column;
        row-gap: .5rem;
        text-align: center;
    }
}

@media screen and (max-width: 768px){
    .about_container{
        grid-template-columns: 350px;
    }

    .about_data::before{
        left: 47%;
    }

    .about_data{
        grid-template-columns: 1fr;
        row-gap: 1.875rem;
    }

    .about_boxes{
        padding-left: 30px;
        grid-template-columns: repeat(2, 150px);
        row-gap: 1rem;
        justify-content: center;
        align-items: center;
    }
    .about_box{
        width: 85%; /* Set a fixed width for the divs */
        height: 85%; /* Set a fixed height for the divs */
    }
}

@media screen and (max-width: 576px){
    .about_container{
        grid-template-columns: 320px;
    }
}

@media screen and (max-width: 350px){
    .about_container{
        grid-template-columns: 1fr;
    }

    .about_boxes{
        grid-template-columns: 1fr;
    }
}