.resume_container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.875rem;
}

.timeline{
    /* background-color: #14042f; */
    background-color: rgb(6, 18, 44);
    padding: 1.875rem;
    border-radius: var(--border-radius);
    position: relative;
    box-shadow: var(--shadow);
}

.timeline_item{
    position: relative;
    padding-left: 3.125rem;
    padding-bottom: 3.125rem;
}

.timeline_item:last-child{
    padding-bottom: 0;
}

.timeline_item::before{
    content: '';
    width: 1px;
    height: 100%;
    position: absolute;
    background-color: #ff98fa;
    left: .25rem;
    top: 0;
}

.timeline .icon-graduation,
.timeline .icon-briefcase{
    position: absolute;
    left: -0.4375rem;
    top: 0;
    font-size: var(--h2-font-size);
    color: #ff98fa;
    background-color: rgb(6, 18, 44);
    padding: 0.4375rem 0;
}

.timeline_date{
    color: #ff98fa;
    font-size: var(--small-font-size);
}

.timeline_title{
    font-size: var(--h3-font-size);
    margin: 0.5rem 0;
    color: #ffffff;
}

.timeline_location{
    color: #f1fefb;
}

@media screen and (max-width: 1024px) {
    .resume_container {
        grid-template-columns: 450px;
        justify-content: center;
        row-gap: 1.875rem;
    }
    .timeline_item::before {
        left: 2px;
    }
}

@media screen and (max-width: 576px) {
    .resume_container {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 350px) {
    .timeline_item{
        padding-left: 1.875rem;
        padding-bottom: 1.875rem;
    }

    .timeline_item::before {
        left: -9px;
    }

    .timeline_text{
        text-align: justify;
    }
}